#listingDisplay {
  display: grid;
  grid-template-areas:
          "img info"
          "img desc";
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px;
  & img {
    grid-area: img;
    max-height: 464px;
    max-width: 620px;
    margin-top: .8rem;
  }
}

.infoDisplay {
  grid-area: info;
  & p {
    padding-bottom: 5px;
    border-bottom: 1px solid #E7ECF8;
    font-size: .9rem;
    letter-spacing: .2rem;
  }
}

.descriptionDisplay {
  grid-area: desc;
  & h3 {
    font-size: 1.5rem;
    letter-spacing: .2rem;
  }
  & p {
    text-align: justify;
    line-height: 1.2rem;
    font-size: .8rem;
  }
}

.priceDisplay::before {
  content: '£';
}

.listingCard {
  margin: 10px auto;
  padding: 10px 0;
  color: #21264D;
  background: transparent;
  border: 2px solid #E7ECF8;
  font-family:'Merriweather', serif;

  img {
    max-height: 160px;
    max-width: 230px;
    margin: auto;
    padding-top: 15px;

  }

  ul {
    list-style-type: none;
    padding-left: 25px;
    font-size: 1.1rem;
    color: #E7ECF8;
  }

  h5 {
    color: #E7ECF8;
    padding-left: 25px;
    padding-top: 10px;
  }

  button {
    background: #E7ECF8;
    color: #21264D;
    border: none;
    margin: 10px auto;
    justify-content: center;
    padding: 5px 10px;
  }

  a {
    margin: 10px auto;
    justify-content: center;
    text-decoration: none;
  }

  button:hover {
    background-color: transparent;
  }

  span {
    font-weight: bold;
  }
}

.viewPropertyButton {
  display:flex;
}

//media queries

@media screen and (max-width:900px) {
  .pageContent {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
  }
  .listingCard {
    justify-content: space-around;
  }
}

@media screen and (max-width:450px) {
  .pageContent {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .listingCard {
    width:350px;
  }
  .jumbotron {
    display:none;
  }
  .smallTitle {

    h1 {
      display: contents;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2rem;
    }

    h2 {
      display: contents;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }
}

