#listingDisplay {
  display: grid;
  grid-template-areas:
          "img info"
          "desc desc";
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  width: 80%;
  margin: 0 auto;
  & img {
    grid-area: img;
    height: auto;
    max-width: 100%;
    margin-top: .8rem;
  }
}

.infoDisplay {
  grid-area: info;
  & p {
    padding-bottom: 5px;
    border-bottom: 1px solid #E7ECF8;
    font-size: .9rem;
    letter-spacing: .2rem;
  }
}

.descriptionDisplay {
  grid-area: desc;
  & h3 {
    font-size: 1.5rem;
    letter-spacing: .2rem;
  }
  & p {
    text-align: justify;
    line-height: 1.2rem;
    font-size: .8rem;
  }
}

.priceDisplay::before {
  content: '£';
}

@media only screen and (max-width: 680px){
    #listingDisplay {
      grid-template-areas:
      "img"
      "info"
      "desc";
      grid-template-columns: 1fr;
    }
}