@import 'imports/mixins';
@import 'imports/variables';
@import 'imports/salesNavbar';
@import 'imports/jumbotron';
@import 'imports/bootstrapfilters';

@font-face {
  font-family:'Merriweather', serif;
  src: url("../../resources/Merriweather-Regular.ttf");
}

* {
  box-sizing: border-box
}

body {
  background: $tertiary;
  font-size: 10px;
  margin: 0;
  color: $primary;
}

.pageContent {


}